/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2014, 8:52:49 AM
    Author     : tmaleka
*/

.biExtractsTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.biExtractsTable TD {
    
    text-align:left; 
    padding-left: 12px; 
    padding-right: 12px;
    padding-top: 5px; 
    padding-bottom: 5px; 
    border: 0px;
    font-size: 14px;
    
}

.biExtractsTable TH {
    
    text-align:left; 
    padding-left: 12px; 
    padding-right: 12px;
    padding-top: 5px; 
    padding-bottom: 5px; 
    border: 0px;
    font-size: 16px;
    font-weight : bold;
    
}

.dataRowEven {
    border-bottom: 1px solid #D0D0D0;
    background: white;
}

.dataRowOdd {
    border-bottom: 1px solid #D0D0D0;
    background: #E0E0E0;
}

.headerRow {
    border-bottom: 1px solid #D0D0D0;
}