/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2014, 1:16:41 PM
    Author     : tmaleka
*/

root {
     display: block;
}

body {
    background: white;
    color: black;
    font-family: 'Segoe UI', 'Arial';
    font-size: 12px;
    margin: 0px;
}

DIV.topBar {
    
    width: 100%;
    height: fit-content;
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    background: white;
    color: black;
    z-index: 99;
    opacity: 0.7;
    border-bottom: 1px solid #C8C8C8;
    
}

DIV.wrapper {
    
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
    display: table;
    
}


DIV.content {
    
    width: 90%;
    height: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

DIV.header {
    
    width: 100%;
    height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-left: 0px;
    float:left;
    background: #404040;
    
}

DIV.subContentArea {
    
    width: 90%;
    height: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-right: 6px;
    margin: 0px;
    float: left;
    
}

DIV.subHeader {
    
    width: 60%;
    height: fit-content;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    font-size: 16px;
    color: black;
    font-weight: normal;
    margin-left: 10px;
    background-color: #C8C8C8;
    
}

DIV.legendArea {
    
    width: 90%;
    margin-top: 20px;
    margin-left: 12px;
    
}

DIV.chartArea {
    width: 90%;
    height: fit-content;
    margin-top: 15px;
    margin-left: 12px;
}

DIV.menuSection {
    
    width: 100%;
    height: fit-content;
    margin-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

DIV.menuItem {
    
    width: fit-content;
    height: fit-content;
    margin: 1px;
    float: left;
    background-color: #0099FF;
    
}

DIV.menuItem P {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 16px;
    color: white;
}

DIV.menuItem:hover, DIV.menuItem P:hover {
    
    color: white;
    cursor : pointer;
    background-color: #3399CC;
}